*{
	margin: 0;
	padding: 0;
}
body{
	font:14px/24px "Times New Roman",Georgia,Serif;
}
.wp{
	width: 960px;
	margin: 0 auto;
}

.x{float:left}
.y{float:right}
.cl{clear:both}

.heatop span.marg_0{
	margin: 0;
}

.heatop{
	width: 100%;
	height: 30px;
	background: rgb(48,48,48);
	color: rgb(216,216,216);
	line-height: 30px;
	
}
.heatop span{
	margin-right: 15px;
}
.heatop a{
	color: rgb(216,216,216);
	text-decoration: none;
}

.heatop a:hover{
	color:#fba
}
.serch{
    width: 384px;
    height: 41px;
    margin-top: 8px;
    margin-left: 100px;
}
.logos{
    height: 59px;
    margin: 15px 0;
}
.serch td{
    height: 41px;
}
.serch_l{
	width:6px;
	background: url("../images/s_z.jpg") no-repeat;
}
.serch_c{
	width:300px;
	background: url("../images/s_c.jpg") repeat-x;
}
.serch_r{
	width:78px;
	background: url("../images/s_r.jpg") no-repeat;
}
.button_sc{
	width:78px;
	height: 41px;
	background: none;
	border: none;
	cursor: pointer;
}
.sc_text{
	width:300px;
	height: 25px;
	line-height: 25px;
	border: 0;
}
